@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
}

main {
  margin-bottom: 30px;
  color: #30344D;
  margin-top: 90px; 
}
/* 紹介写真 */
main section {
  margin-bottom: 30px;
}
main section h1 {
  font-weight: bold;
  color: #30344D;
  font-size: 4.5vw; 
  margin-top: 5.5vh;
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 700;
}

.image-wrapper {
  width: 80%;
  margin: 0 auto;
  position: relative;
  height: 50vw; 
  max-height: 720px;
  overflow: hidden; 
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  filter: brightness(70%);
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 3s ease-out forwards;
  animation-delay: 0.3s;
}

.image-wrapper .text-title {
  position: absolute;
  top: 2%;
  left: 2%;
  font-weight: bold;
  font-size: 4vw;
  color: #FFA500;
  text-align: left;
  text-shadow: 0.2vw 0.2vw 0.4vw #fff;
  font-family: 'Noto Serif JP', serif;
}

.image-wrapper .text-sub {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 600;
  font-size: 2vw;
  color: #C58B4B;
  text-align: center;
  white-space: nowrap; 
  font-family: 'Noto Serif JP', serif;
}


.image-wrapper .contact-button {
  position: absolute;
  bottom: 4%;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  background-color: #C58B4B;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 1em 2em;
  border-radius: 1em;
  font-size: 1.5vw;
}

.image-wrapper .contact-button:hover {
  background-color: #30344D;
}


/* 相談事例 */
.experience-section {
  background-color: #C58B4B;
  margin-bottom: 30px;
  padding: 40px 20px;
  text-align: center;
}

.experience-section h2 {
  font-size: 48px;
  color: #fff;
  margin-bottom: 30px;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 700;
}

.experience-section .circles {
  display: flex;
  justify-content: center;
  gap: 120px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.experience-section .circle {
  background-color: #fff;
  border-radius: 50%;
  width: 220px;
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.experience-section .circle p {
  font-size: 24px;
  color: #111835;
  line-height: 1.4;
}

.experience-section .bottom-text {
  font-weight: bold;
  font-size: 42px;
  color: #fff;
}

.experience-section .bottom-text .highlight {
  color: #111835;
}


/* 特徴 */
.training-feature-section {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.training-feature-section .training-feature-box {
  width: 80%;
  height: auto;
  border: 8px solid #30344D;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

.training-feature-section .training-feature-box h2 {
  font-weight: bold;
  font-size: 48px;
  color: #C58B4B;
  margin-bottom: 40px;
  font-family: 'Noto Sans JP', sans-serif;
}

.training-feature-section .training-feature-box ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
  max-width: 800px;
  margin: 0 auto;
}

.training-feature-section .training-feature-box li {
  font-size: 36px;
  color: #000;
  margin-bottom: 30px;
  line-height: 1.4;
}




/* カリキュラム */
.curriculum-header {
  text-align: center;
  margin-bottom: 30px;
}

.curriculum-header h1 {
  font-size: 50px;
  font-weight: bold;
  margin: 70px auto 50px;
  font-family: 'Noto Sans JP', sans-serif;
}

.curriculum-header p {
  font-size: 24px;
}

.curriculum-header .highlight {
  font-weight: bold;
  color: #C58B4B;
}

.curriculum-item {
  margin-bottom: 30px;
  text-align: center;
}

.curriculum-item .title {
  text-align: center;
  margin-bottom: 20px;
}

.curriculum-item .number {
  font-size: 136px;
  font-weight: 900;
  color: #30344D;
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;
}

.curriculum-item h2 {
  font-size: 40px;
  font-weight: 600;
  display: inline-block;
  vertical-align: middle;
  font-family: 'Noto Serif JP', serif;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin-top: 20px;
}

.content.left-image {
  flex-direction: row !important;
}

.content.right-image {
  flex-direction: row-reverse !important;
}

.content p {
  font-size: 24px;
  max-width: 500px;
  text-align: left;
  line-height: 1.8;
}

.underline {
  background: linear-gradient(transparent 60%, #E9AB66 60%);
}


.image-circle {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 5px solid #C58B4B;
  overflow: hidden;
  flex-shrink: 0;
}

.image-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .content {
    flex-direction: column !important;
  }

  .content p {
    text-align: center;
  }
}




/* 導入の流れ */
.flow-section {
  margin-bottom: 30px;
}

.flow-container {
  border: 8px solid #30344D;
  padding: 50px;
  text-align: center;
}

.flow-title {
  color: #C58B4B;
  font-size: 50px;
  margin-bottom: 20px;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 700;
}

.flow-step {
  text-align: left;
  margin: 60px 0;
}

.flow-step h3 {
  color: #C58B4B;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;
  font-family: 'Noto Serif JP', serif;
}

.flow-step p {
  color: #111835;
  font-size: 28px;
  text-align: center;
  padding: 40px;
  margin: 0;
}

.flow-contact {
  margin-top: 30px;
  text-align: center;
}



/* レスポンシブ対応 */
@media (max-width: 768px) {
  .flow-step h3 {
    font-size: 28px;
  }
  .flow-step p {
    font-size: 20px;
  }
  .flow-title {
    font-size: 40px;
  }
}


/* お客様の声 */
.customer-voice {
  background-color: #EEAF6A;
  margin-bottom: 30px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.voice-container {
  max-width: 90%;
  margin: 0 auto;
  padding: 2em 0;
  text-align: center;
  color: white;
}

.voice-container h1 {
  font-size: 3em;
  color: #fff;
  margin-bottom: 1em;
  word-break: break-word;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 700;
}

.voice-box {
  width: 80%;
  margin: 0 auto 30px auto;
  border: 2px solid #111835;
  background-color: #fff;
  padding: 1em;
  box-sizing: border-box;
  word-break: break-word;
}

.voice-box p {
  font-size: 1.5em;
  color: #111835;
  line-height: 1.6;
  text-align: left;
  word-wrap: break-word;
}



.contact-section {
  text-align: center;
  margin-bottom: 30px;
  color: #111835;
}

.contact-section h1 {
  font-size: 50px;
  margin-bottom: 20px;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 700;
}

.contact-section .contact-message {
  font-size: 24px;
  margin-bottom: 30px;
  line-height: 1.6;
}

/* 💡 共通デザイン */
.contact-btn {
  display: inline-block;
  background-color: #C58B4B;
  color: #fff;
  font-size: 1.5vw;
  font-weight: bold;
  padding: 1em 2em;
  border-radius: 1em;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.contact-btn:hover {
  background-color: #111835;
}

/* 💡 画像の中のボタンだけ特別な位置指定 */


/* レスポンシブ対応 */
@media (max-width: 430px) {


  main {
    margin-top: 100px; 
  }

  main section h1 {
    font-size: 6vw;
  }

  .image-wrapper {
    width: 90%;
    height: auto;
  }

  .image-wrapper .text-title {
    font-size: 6vw;
    top: 50%;
  }

  .image-wrapper .text-sub {
    font-size: 3vw;
  }

  .image-wrapper .contact-button {
    white-space: nowrap;
    font-size: 18px;
    padding: 10px 20px;
    margin-bottom: -3%;
  }

  .experience-section h2 {
    font-size: 26px;
  }

  .experience-section .circles {
    gap: 30px;
  }

  .experience-section .circle {
    width: 150px;
    height: 150px;
    padding: 10px;
  }

  .experience-section .circle p {
    font-size: 14px;
  }

  .experience-section .bottom-text {
    font-size: 20px;
    padding: 10px;
  }

  .training-feature-section .training-feature-box h2 {
    font-size: 26px;
  }

  .training-feature-section .training-feature-box li {
    font-size: 18px;
    margin-bottom: 20px;
    
  }

  .curriculum-header h1 {
    font-size: 26px;
  }

  .curriculum-header p {
    font-size: 16px;
  }

  .curriculum-item .number {
    font-size: 80px;
    margin-right: 10px;
    display: block;
    margin-right: 0; 
  }

  .curriculum-item h2 {
    font-size: 18px;
  }

  .content {
    gap: 30px;
  }

  .content p {
    font-size: 14px;
    max-width: 95%;
  }

  .image-circle {
    width: 250px;
    height: 250px;
  }

  .flow-container {
    padding: 20px;
  }

  .flow-title {
    font-size: 26px;
  }

  .flow-step h3 {
    font-size: 18px;
  }

  .flow-step p {
    font-size: 14px;
    padding: 10px;
    text-align: left;
  }



  .customer-voice {
    max-width: 95%;
  }

  .voice-container h1 {
    font-size: 26px;
  }

  .voice-box {
    width: 95%;
  }

  .voice-box p {
    font-size: 14px;
  }

  .contact-section h1 {
    font-size: 26px;
  }

  .contact-section .contact-message {
    font-size: 14px;
  }

  .contact-btn {
    font-size: 18px !important;
    padding: 10px 20px !important;
    white-space: nowrap;
  }

}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
  
}
/* 初期状態 */
.animate-on-scroll {
  opacity: 0;
  transition: all 0.8s ease-out;
}

/* スライドイン（下から上） */
.animate-on-scroll.slide-in {
  transform: translateY(50px);
}
.animate-on-scroll.slide-in.visible {
  opacity: 1;
  transform: translateY(0);
}

/* 上から落ちる */
.animate-on-scroll.drop-in {
  transform: translateY(-50px);
}
.animate-on-scroll.drop-in.visible {
  opacity: 1;
  transform: translateY(0);
}


.animate-on-scroll.slide-from-right {
  opacity: 0;
  transform: translateX(50px);
  transition: all 0.8s ease-out;
}

.animate-on-scroll.slide-from-right.visible {
  opacity: 1;
  transform: translateX(0);
}

.animate-on-scroll.slide-from-left {
  opacity: 0;
  transform: translateX(-50px);
  transition: all 0.8s ease-out;
}

.animate-on-scroll.slide-from-left.visible {
  opacity: 1;
  transform: translateX(0);
}



@media (min-width: 768px) and (max-width: 850px) {
  main {
    margin-top: 90px; 
  }

  main section h1 {
    font-size: 4vw;
  }

  .image-wrapper {
    width: 85%;
    height: 45vw;
  }

  .image-wrapper .text-title {
    font-size: 3.5vw;
  }

  .image-wrapper .text-sub {
    font-size: 1.8vw;
    margin-bottom: 80px;
  }

  .image-wrapper .contact-button {
    font-size: 20px;
    padding: 16px 20px;
  }

  .experience-section h2 {
    font-size: 40px;
  }

  .experience-section .circles {
    gap: 60px;
  }

  .experience-section .circle {
    width: 180px;
    height: 180px;
  }

  .experience-section .circle p {
    font-size: 20px;
  }

  .experience-section .bottom-text {
    font-size: 30px;
  }

  .training-feature-section .training-feature-box h2 {
    font-size: 36px;
  }

  .training-feature-section .training-feature-box li {
    font-size: 24px;
  }

  .curriculum-header h1 {
    font-size: 36px;
  }

  .curriculum-header p {
    font-size: 20px;
  }

  .curriculum-item .number {
    font-size: 100px;
  }

  .curriculum-item h2 {
    font-size: 28px;
  }

  .content {
    gap: 50px;
  }

  .content p {
    font-size: 20px;
    max-width: 80%;
  }

  .image-circle {
    width: 300px;
    height: 300px;
  }

  .flow-container {
    padding: 30px;
  }

  .flow-title {
    font-size: 36px;
  }

  .flow-step h3 {
    font-size: 28px;
  }

  .flow-step p {
    font-size: 18px;
    padding: 20px;
    margin: -20px;
  }

  .customer-voice {
    max-width: 90%;
  }

  .voice-container h1 {
    font-size: 36px;
  }

  .voice-box {
    width: 90%;
  }

  .voice-box p {
    font-size: 20px;
  }

  .contact-section h1 {
    font-size: 36px;
  }

  .contact-section .contact-message {
    font-size: 20px;
  }

  .contact-btn {
    font-size: 30px;
    padding: 24px 48px;
  }
}
