@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Noto Sans JP', sans-serif;
}

main {
  text-align: center;
  padding: 20px;
  margin-top: 120px;
}

.contact-title {
  font-size: 82px;
  color: #30344D;
  margin-bottom: 30px;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 700;
}

.form-group {
  margin: 10px auto;
  color: #30344D;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
  color: 30344D;
}

input[type="text"], input[type="email"], textarea {
  width: 50%;
  padding: 10px;
  margin: 5px 0;
}

.required {
  color: red;
}

.radio-group {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 20px 0;
}

.specific-text {
  font-size: 36px;
  color: #C58B4B;
  margin: 20px 0;
  font-family: 'Noto Serif JP', serif;
}

textarea {
  width: 100%;
  max-width: 1070px;
  height: 560px;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

button {
  background-color: #30344D;
  color: white;
  padding: 10px 30px;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #C58B4B;
}




.thanks-text {
  font-size: 24px;
  line-height: 1.5;
  margin: 40px 0;
}

.result-box {
  text-align: left;
  max-width: 600px;
  margin: 0 auto 40px;
  font-size: 18px;
  border: 1px solid #ccc;
  padding: 20px;
  background: #f9f9f9;
}

#backTop {
  padding: 10px 30px;
  font-size: 18px;
  background-color: #1C1745;
  color: white;
  border: none;
  cursor: pointer;
}

#backTop:hover {
  background-color: orange;
}





@media (max-width: 430px) {
  .contact-title {
    font-size: 48px;
  }

  label {
    font-size: 16px;
  }

  input[type="text"],
  input[type="email"] {
    width: 90%;
  }

  textarea {
    width: 100%;
    max-width: 100%;
    height: 300px;
  }

  .radio-group {
    flex-direction: column;
    gap: 10px;
  }

  .specific-text {
    font-size: 22px;
  }

  button {
    width: 80%;
    font-size: 16px;
  }

  .thanks-text {
    font-size: 16px;
    line-height: 1.5;
    margin: 40px 0;
  }
  
}